.checkbox {
  all: unset;

  user-select: none;

  display: flex;
  align-items: center;

  height: 36px;
}

.checkboxRoot {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 36px;
  height: 36px;

  background-image: url('./assets/checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 36px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    background-image: url('./assets/checkboxDisabled.svg');

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }
}

.checkboxIndicator {
  content: '';
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
}

.label {
  cursor: pointer;
  margin-left: 2px;
}

.disabled {
  cursor: auto;
  color: var(--color-dark-100);
}
