.select {
  position: relative;
  width: 210px;
}

.label {
  color: var(--color-dark-100);
}

.button {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 36px;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    outline: none;

    &::before {
      content: '';

      position: absolute;
      z-index: var(--z-index-button-focus);
      inset: 0;

      border-radius: 2px;
      box-shadow: 0 0 0 2px var(--color-info-700);
    }
  }

  &.disabled {
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);

    &:hover {
      cursor: auto;
      background-color: transparent;
    }
  }
}

.items {
  position: absolute;
  top: 34px;

  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-radius: 0 0 2px 2px;

  &:focus-visible {
    outline: none;

    &::before {
      content: '';

      position: absolute;
      z-index: var(--z-index-button-focus);
      inset: 0;

      height: calc(100% - 3px);
      margin-top: 3px;

      border-radius: 0 0 2px 2px;
      box-shadow: 0 0 0 2px var(--color-info-700);
    }
  }
}

.itemsWithLabel {
  top: 60px;
}

.item {
  cursor: pointer;
  padding: 6px 12px;

  &:hover {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
  }
}

.activeItem {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
}

.item:first-child {
  height: 36px;
  margin-top: 2px;
}

.fullWidth {
  width: 100%;
}

.pagination {
  gap: 4px;

  height: 24px;
  padding: 0 6px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.paginationItems {
  top: 24px;
}

.paginationItem {
  height: 24px;
  padding: 0 6px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.paginationItem:first-child {
  height: 24px;
  margin-top: 0;
}
