.packPage {
  margin-top: 24px;
}

.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 33px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.deckImg {
  width: 170px;
  height: 107px;
  margin-bottom: 25px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.search {
  margin-bottom: 24px;
}

.emptyPack {
  padding: 36px 0;
  font-size: 36px;
  color: var(--color-dark-300);
  text-align: center;
}

.nameDeck {
  font-weight: var(--font-weight-bold);
}
