.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 18px 24px;

  border-bottom: none;
}

.closeIcon {
  fill: var(--color-light-100);
  transition: fill 0.25s ease;

  &:hover {
    fill: var(--color-accent-700);
  }
}
