.modal {
  z-index: var(--z-index-modal);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-overlay);
}

.wrapper {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: none;
}
