.textField {
  width: 255px;
}

.inputContainer {
  position: relative;
  display: flex;
}

.label {
  color: var(--color-dark-100);
}

.label.disabled {
  color: var(--color-dark-300);
}

.input {
  all: unset;

  position: relative;

  width: 100%;
  padding: 5px 12px;

  font: var(--font-body-1);
  color: var(--color-dark-100);

  background-color: rgb(0 0 0 / 0%);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:hover {
    background-color: var(--color-dark-700);
  }

  &:focus {
    color: var(--color-light-100);
    background-color: transparent;
    border: 1px solid var(--color-light-100);
  }
}

.input.disabled::placeholder {
  color: var(--color-dark-300);
}

.input.disabled {
  &:hover {
    background: transparent;
  }
}

.error {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);
}

.errorText {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  color: var(--color-danger-300);
}

.search {
  padding-right: 30px;
  padding-left: 41px;

  background-image: url('../TextField/assets/search.svg');
  background-repeat: no-repeat;
  background-position: 12px 50%;

  &:hover {
    background-image: url('../TextField/assets/search.svg');
    background-repeat: no-repeat;
    background-position: 12px 50%;
  }

  &:focus {
    background-image: url('../TextField/assets/search-active.svg');
    background-repeat: no-repeat;
  }

  &:focus:hover {
    background-image: url('../TextField/assets/search-active.svg');
    background-repeat: no-repeat;
  }
}

.search.disabled {
  background-image: url('../TextField/assets/search-disabled.svg');

  &:hover {
    background-image: url('../TextField/assets/search-disabled.svg');
    background-repeat: no-repeat;
    background-position: 12px 50%;
  }
}

.xIcon {
  cursor: pointer;
  content: '';

  position: absolute;
  z-index: var(--z-index-x-icon);
  top: 11px;
  right: 10px;

  width: 16px;
  height: 16px;
}

.eye {
  cursor: pointer;
  content: '';
  user-select: none;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.disabled {
  color: var(--color-dark-300);
}

.fullWidth {
  width: 100%;
}
