.table {
  width: 100%;
  max-width: 1010px;
}

.deckName {
  gap: 10px;
}

.deckImg {
  width: 118px;
  height: 48px;
}

.img {
  width: 118px;
  height: 48px;
  object-fit: cover;
  border-radius: 2px;
}
