.cardFooter {
  width: 100%;
  height: auto;
  padding: 12px 24px 36px;
  border-top: none !important;
}

.twoButtons {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.oneButton {
  display: flex;
  justify-content: flex-end;
}
