.tableHeader {
  display: grid;
  grid-template-columns: 260px minmax(0, 140px) minmax(0, 200px) minmax(0, 286px) auto;
  justify-items: start;

  padding: 6px 0;

  background-color: var(--color-dark-500);
}
