.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  position: relative;

  width: 16px;
  height: 16px;
  margin: 4px 12px 4px 4px;

  background-color: transparent;
  border: 1.8px solid var(--color-accent-500);
  border-radius: 100%;

  &:hover {
    &::after {
      content: '';

      position: absolute;
      z-index: var(--z-index-checkbox);
      top: -11px;
      left: -11px;

      width: 36px;
      height: 36px;

      background-color: var(--color-dark-500);
      border-radius: 50%;
    }
  }

  &:focus-visible {
    background-color: var(--color-dark-700);
    outline: none;

    &::before {
      content: '';

      position: absolute;
      z-index: var(--z-index-checkbox);
      top: -11px;
      left: -11px;

      width: 36px;
      height: 36px;

      background-color: var(--color-dark-700);
      border-radius: 36px;
    }
  }

  &:active {
    background-color: var(--color-accent-900);

    &::after {
      content: '';

      position: absolute;
      z-index: var(--z-index-checkbox);
      top: -11px;
      left: -11px;

      width: 36px;
      height: 36px;

      background-color: var(--color-accent-900);
      border-radius: 36px;
    }
  }
}

.item.disabled {
  border-color: var(--color-accent-900);

  &:hover {
    &::after {
      content: none;
    }
  }

  &:active {
    background-color: transparent;

    &::after {
      content: none;
    }
  }
}

.indicator {
  position: relative;
}

.indicatorIcon {
  position: absolute;
  bottom: -8px;
  left: -8px;
}

.labelDisabled {
  color: var(--color-light-900);
}
