.radioGroup {
  all: unset;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}

.radio {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 36px;
  height: 36px;

  background-image: url('./assets/radio.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-accent-900);
  }

  &:focus-visible {
    background-color: var(--color-dark-700);
  }

  &:disabled {
    background-image: url('./assets/radioDisabled.svg');

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }
}

.indicator {
  content: '';
  position: absolute;
  top: 0.543rem;
  right: 0.6rem;
}

.title {
  cursor: pointer;
  margin-left: 2px;
}

.disabled {
  cursor: auto;
  color: var(--color-light-900);
}

.label {
  margin-bottom: 8px;
}
