.forgotPasswordForm {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 420px;
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

.textField {
  height: 80px;
}

.submitBtn {
  display: flex;
}

.signInLink {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
}

.subtitle {
  padding-bottom: 65px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.subtitle_2 {
  color: var(--color-light-900);
}

.link {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-accent-500) !important;
  text-decoration-line: underline;
}
