.createNewPasswordForm {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 33px 36px 60px;
}

.title {
  padding-bottom: 50px;
  text-align: center;
}

.textField {
  height: 80px;
}

.submitBtn {
  display: flex;
}

.subtitle {
  padding-bottom: 40px;
  color: var(--color-light-900);
  opacity: 0.5;
}
